<!doctype html>
<html lang="en">

<head>
    <title>Options</title>
    <meta charset="utf-8">
    <link href="/libs/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/common.css" rel="stylesheet">
    <link href="/assets/css/options.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <form id="formOptions">
            <fieldset>
                <legend>Options</legend>
                <button type="button" class="btn btn-primary btn-lg rounded-0 login">LOGIN</button>
                <div id="user"></div>
            </fieldset>
            <div class="alert alert-success" hidden></div>
        </form>
    </div>
    <script src="/libs/js/handlebars.runtime.min.js"></script>
    <script src="/assets/js/handlebars.templates.js"></script>
    <script type="module" src="/assets/js/options.js"></script>
    <style>
        .card {
            width: 25%;
        }
    </style>
</body>

</html>
