<!doctype html>
<html lang="en">

<head>
    <title>Peep</title>
    <meta charset="utf-8">
    <link href="/libs/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/common.css" rel="stylesheet">
    <link href="/assets/css/popup.css" rel="stylesheet">
</head>

<body>
    <div id="Peep"><span class="alert alert-info w-100">Please set your <span class="twitch">Twitch</span> username in <a href="options.html" id="options">options</a>.</span></div>
    <script src="/libs/js/handlebars.runtime.min.js"></script>
    <script src="/assets/js/handlebars.templates.js"></script>
    <script src="/assets/js/popup.js"></script>
</body>

</html>
