body {}

legend {
    color: #6441A4;
    font-family: "Dimitri Swank";
    font-size: 48px;
}

.btn {
    color: white;
    background-color: #6441A4;
}

.alert {
    text-align: center;
    margin-top: 1rem;
}