div#Peep {
    color: #6441A4;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 320px;
    min-width: 256px;
}

.twitch {
    color: #6441A4;
    font-weight: bold;
}

.display_name {
    font-size: 24px;
    font-family: "Dimitri";
    font-family: "Dimitri Swank";
}

.game {
    text-transform: uppercase;
    font-size: 10px;
}

.status {
    font-size: 10px;
    color: #ccc;
}

.table td {
    border: 0;
}

.table {
    margin-bottom: 0;
}
