/*
    Web fonts
*/

@font-face {
    font-family: "Dimitri Swank";
    src: url("DIMIS___.TTF");
}

@font-face {
    font-family: "Dimitri";
    src: url("DIMITRI_.TTF");
}

/*
    Web fonts
*/

div#Peep {
    color: #6441A4;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width: 250px;
}

.display_name {
/*    font-weight: 700;*/
    font-size: 24px;
    font-family: "Dimitri";
    font-family: "Dimitri Swank";
}

.game {
    text-transform: uppercase;
    font-size: 10px;
}

.status {
    font-size: 10px;
    color: #ccc;
    min-width: 150px;
}

.table td {
    border: 0;
}
