<div class="container">
    <table class="table table-bordered table-sm">
        <caption>{{ title }}</caption>
        <thead class="thead-dark">
            <tr>
                <th>Left</th>
                <th>Middle</th>
                <th>Right</th>
            </tr>
        </thead>
        <tr>
            <td>Left</td>
            <td>Middle</td>
            <td>Right</td>
        </tr>
    </table>
</div>
